/*
约定：
    1.样式都通过ID去限定。
    2.尽可能多使用直接子代选择器
*/
* {
    margin: 0;
    padding: 0;
}

/*Bootstrap扩展*/
.btn-login {
    padding: 5px;
}

.navbar-gold {
    background-color: #fff;
    border-color: #F5F5F5;
    margin-bottom: 0;
}

.navbar-gold .navbar-brand {
    height: 80px;
    color: #777;
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-gold .navbar-brand:hover,
.navbar-gold .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-gold .navbar-nav > li > a:hover,
.navbar-gold .navbar-nav > li > a:focus {
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-gold .navbar-nav > .active > a,
.navbar-gold .navbar-nav > .active > a:hover,
.navbar-gold .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-gold .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-gold .navbar-toggle .icon-bar {
    background-color: #888;
}

/*公共样式*/

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: #888;
}

a {
    color: #888;
}

a:hover {
    text-decoration: none;
}

/*引入新字体*/

@font-face {
    font-family: 'itcast';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

/*设置字体选择器，以下为属性选择符，第一个是以“icon-开头”，第二个是包含“ icon-”，空格一定要写*/

[class^="icon-"],
[class*=" icon-"] {
    font-family: itcast;
    font-style: normal;
}

.icon-logo::before {
    content: '\e920';
}

.icon-logoword::before {
    content: '\e93e';
}

/*以上字体中包含字体图标，为使下面内容生效，故要引入上面的字体*/

.icon-phone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-tel::before {
    content: "\e909";
    font-size: 15px;

}

/*头部样式*/

#header {
    /*height: 200px;*/
}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #C0C0C0;
    line-height: 40px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 12px;
    color: #888;
    border-right: 1px solid #C0C0C0;
}

#header > .topbar > .container > .row > div:last-child {
    border-width: 0;
}

#header .icon-logo {
    font-size: 50px;
    color: #E92322;
    vertical-align: middle;
    line-height: 50px;
}

#header .icon-logoword {
    font-size: 32px;
    color: #333;
    vertical-align: middle;
}

/*大banner导航*/
@media (min-width: 768px) {
    #main_banner > .carousel-inner > .item {
        height: 410px;
    }
}

#main_banner > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
}

#main_banner > .carousel-inner > .item > img {
    width: 100%;
}

/*特色介绍*/
#feature {
    padding: 50px 0;
    border-bottom: 1px solid #C0C0C0;
}
#feature .row a {
    color: #333;
}
#feature .row a:hover {
    color: #E61E25;
}
#feature .row>div{
    margin-top:20px;
    margin-bottom:20px;
}
#feature .row a .media-left > i {
    font-size: 34px;
}

.icon-uniE903:before {
    content: '\e903';
}
.icon-uniE901:before {
    content: '\e901';
}
.icon-uniE900:before {
    content: '\e900';
}
.icon-uniE904:before {
    content: '\e904';
}
.icon-uniE907:before {
    content: '\e907';
}
.icon-uniE902:before {
    content: '\e902';
}
#feature .row a .media-body > h4{
    font-size: 18px;
    font-weight:normal;
}






























