@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

/*选中后外边框蓝色部分*/
ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体", serif;
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

/*table、td边框合并为一条线*/
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体*/
    color: #666;
    background: #fff
}

/*推荐清除浮动方法*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*网站主色调*/
.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    width: 1210px; /*内容部分的总宽度*/
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*头部导航开始*/

.shortcut {
    height: 30px;
    width: 100%;
    line-height: 30px;
    background-color: #F1F1F1;
}

.shortcut .w {
    height: 30px;
}

/*子绝父相*/
.shortcut ul.fl {
    position: relative;
    /*padding-left:10px;*/
}

.shortcut ul.fl li {
    float: left;
    height: 30px;
    text-align: center;
}

/*子绝父相，调整盒子位于北京后*/
/*此盒子使用绝对定位的top和left默认与左侧送至盒子一样*/
.shortcut ul li i {
    display: block;
    float: left;
    width: 10px;
    height: 5px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    left: 65px;
    cursor: pointer;
}

.shortcut ul li i s {
    position: relative;
    top: -15px;
}

/*为右盒子重写top、left和外边距*/
.shortcut ul.fr li.dropdown-icon {
    position: relative;
    margin-right: 20px;
}

.shortcut ul.fr li i {
    top: 12px;
    left: 50px;
}

/*调整被覆盖的多少*/
.shortcut ul.fr li {
    float: left;
    margin-right: 8px;
}

.shortcut ul.fr li.last {
    margin-right: 0;
}

.shortcut ul.fr li.spacer {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
}

/*底部样式*/
.footer .service .slogen {
    background-color: #F5F5F5;
    position: relative;
    padding: 47px 0;
}

.footer .service .slogen span {
    text-indent: -9999em;
    position: absolute;
    width: 211px;
    height: 44px;
    top: 25px;
}

.footer .service .slogen .item1 {
    background: url(images/service_1.png) no-repeat;
    left: 50%;
    margin-left: -563px;
}

.footer .service .slogen .item2 {
    background: url(images/service_2.png) no-repeat;
    left: 50%;
    margin-left: -258px;
}

.footer .service .slogen .item3 {
    background: url(images/service_3.png) no-repeat;
    left: 50%;
    margin-left: 47px;
}

.footer .service .slogen .item4 {
    background: url(images/service_4.png) no-repeat;
    left: 50%;
    margin-left: 352px;
}

.footer .service {
    margin-bottom: 20px;
}

.footer .service .map {
    padding-top: 25px;
}

.footer .service .map dl {
    float: left;
    width: 200px;
}

.footer .service .map dl dt {
    font: 400 16px/24px "Microsoft YaHei";
    line-height: 30px;
}

.footer .service .map dl dd {
    line-height: 20px;
}

.footer .service .map .coverage {
    float: left;
    background: url(images/spiritfooter.png) no-repeat left bottom;
    width: 185px;
    height: 170px;
    padding-left: 20px;
}

.footer .service .map .coverage h3 {
    font: 400 16px/24px "Microsoft YaHei";
    padding-bottom: 16px;
}

.footer .service .map .coverage .detail {
    text-align: right;
}

.footer .info {
    border-top: 1px solid #E5E5E5;
    text-align: center;
}

.footer .links {
    padding-top: 20px;
}

.footer .links a {
    padding: 0 6px;
}

.footer .copyright {
    padding-top: 10px;
}

.footer .authentication {
    padding-top: 10px;
}

.footer .authentication a {
    margin-left: 13px;
}

/*用户登陆*/
.page-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index:999;
    position: fixed;
    top:0;
    left:0;
    display: none;
}
.login{
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-250px;
    z-index:1000;
    display: none;
}
.login .login-close{
    top:0;
    right:0;
}
.login .title{
    height:30px;
    background-color: #F7F7F7;
    cursor: move;
}
.login .title span{
    line-height:30px;
    width:70px;
    font-size:14px;
    text-align: right;
    color: #666;
}
.login .close-icon{
    position: absolute;
    width:19px;
    height: 19px;
    background: url(images/close.png) no-repeat 0 -19px;

}
















