/*banner广告条部分*/
.top-banner {
    width: 100%;
    text-align: center;
    background-color: #D6D4D5;
    position: relative;
}
/*header 头部分*/
.header {
    padding-top: 25px;
    height: 60px;
}

.header .logo {
    margin-right: 92px;
    display: block;
    height: 60px;
    width: 270px;
    background: url(images/logo.png) no-repeat 0, 0;
    text-indent: -9999em;
}

.header .logo a {
}

.header .search {
    /*padding-top:25px;*/
}

.header .search .search-word {
    width: 454px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    font-size: 14px;
}

.header .search .search-button {
    /*display: block;*/
    background-color: #B61D1D;
    width: 84px;
    height: 36px;
    border: 2px solid #B61D1D;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Microsoft YaHei", serif;
    cursor: pointer;
}

.header .keyword {
    width: 458px;
    height: 20px;
    overflow: hidden;
    float: left;
}

.header .keyword a {
    margin-right: 7px;
}

.header .keyword .last {
    margin-right: 0;
}

.header .shopping-car {
    margin-left: 104px;
    position: relative;
    z-index: 10;
}

.header .shopping-car a {
    display: block;
    width: 60px;
    height: 16px;
    padding: 9px 40px;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    text-align: center;
    overflow: hidden;
}

.header .shopping-car .car-icon {
    position: absolute;
    top: 10px;
    left: 19px;
    z-index: 1;
    width: 16px;
    height: 13px;
    background: url(images/spiritheader.png) no-repeat -1px -59px;
}

.header .shopping-car .num {
    position: absolute;
    left: 104px;
    top: -4px;
    width: 16px;
    height: 14px;
    border-radius: 8px 8px 8px 0;
    background-color: #C81623;
    color: #FFF;
    text-align: center;
    line-height: 14px;
}

.header .shopping-car .right-icon {
    position: absolute;
    left: 123px;
    top: 13px;
    width: 5px;
    height: 9px;
    z-index: 1;
    font: 400 13px/13px simsun;
    cursor: pointer;
}

/*导航部分*/
.nav {
    height: 44px;
    border-bottom: 2px solid #B1191A;
}

.nav .categories {
    width: 210px;
    float: left;
    position: relative;
    z-index: 100;
}

.nav .categories .dt a {
    display: block;
    color: #FFF;
    background-color: #B1191A;
    text-align: left;
    font: 400 15px/44px "Microsoft YaHei";
    padding-left: 10px;
}

.nav .categories .dd {
    height: 462px;
    width: 198px;
    margin-top: 2px;
    background-color: #C81623;
    border: 1px solid #C81623;
    padding-left: 10px;
}

.nav .categories .dd .dd-inner a {
    display: block;
    width: 182px;
    height: 31px;
    font: 400 14px/31px "Microsoft YaHei";
    color: #FFF;
    float: left;
}

.nav .categories .dd .dd-inner i {
    float: left;
    cursor: pointer;
    font: 400 9px/14px consolas;
    color: #FFF;
    position: relative;
    top: 8px;
    right: 0;
}

.nav .items {
    float: left;
}

.nav .items ul li {
    float: left;
    margin: 0 20px;
    height: 44px;
    font: 400 15px/44px "Microsoft YaHei";
}

.nav .treasure {
    position: relative;
    top: -85px;
    left: 30px;
    float: right;
    text-indent: -9999em;
}

.nav .treasure a {
    display: block;
    width: 290px;
    height: 130px;
    background: url(images/navad.png) no-repeat 0 0;
}

/*中央大banner*/

/*.extra .nav ul{*/
/*position: absolute;*/

/*}*/
.focus {
    height: 466px;
    position: relative;
}

.focus .slider ul {
    position: relative;
    margin: 10px 0 0 220px;
}

.focus .slider ul li {
    position: absolute;

}

.focus .slider li a {
    /*display: block;*/
}

.focus .slider .slider-current {
    z-index: 100;
}
.focus .extra-nav .slider-num{
    background-color: #C81623;
}
.focus .extra-page {
    width: 730px;
    position: absolute;
    top: 200px;
    left: 220px;
    z-index: 1000;
}

.focus .extra-page a {
    display: block;
    width: 30px;
    height: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    font: 400 22px/60px "simsun";
    color: #FFF;
}

.focus .extra-page .slider-pre {
    float: left;
}

.focus .extra-page .slider-next {
    float: right;
}

.focus .extra-nav {
    position: absolute;
    top: 430px;
    left: 520px;
    z-index: 1000;
    width: 200px;
}

.focus .extra-nav li {
    float: left;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    background-color: #3E3E3E;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.focus .focus-extra {
    float: right;
    width: 250px;
    height: 454px;
    position: absolute;
    right: 0;
}

.focus-extra .fast-news {
    border: 1px solid #E4E4E4;
    height: 163px;
}

.focus-extra .fast-news .fast-title {
    height: 32px;
    padding: 0 15px;
    border-bottom: 1px dotted #E4E4E4;
}

.focus-extra .fast-news h2 {
    float: left;
    font: 400 16px/32px "Microsoft YaHei";
    border-bottom: 1px dashed #E4E4E4;
}

.focus-extra .fast-news .fast-title span {
    float: right;
}

.focus-extra .fast-news .fast-title a {
    line-height: 32px;
}

.focus-extra .fast-news .news-content ul {
    padding: 5px 0 0 15px;
    line-height: 24px;
}

.focus-extra .fast-news .news-content i {
    font-weight: 700;
    margin-right: 5px;
}

.fast-service {
    width: 300px;
    position: relative;
}

.fast-service li {
    width: 62px;
    height: 66px;
    float: left;
    border: 1px solid #E4E4E4;
    margin-left: -1px;
    margin-top: -1px;
}

.fast-service li span {
    display: block;
    padding-top: 45px;
    text-align: center;
}

.fast-service li i {
    position: absolute;
    width: 24px;
    height: 25px;
    background: url(images/spirit_focus_service.png) no-repeat;
}

.fast-service .fast-icon1 i {
    left: 18px;
    top: 13px;
    background-position: -26px 0;
}
.fast-service .fast-icon2 i{
    background-position: -26px -25px;
    left: 82px;
    top: 13px;
}
.fast-service .fast-icon3 i{
    background-position: -26px -49px;
    left: 145px;
    top: 13px;
}
.fast-service .fast-icon4 i{
    background-position: -26px -74px;
    left: 206px;
    top: 13px;
}
.fast-service .fast-icon5 i{
    background-position: -26px -99px;
    left: 18px;
    top: 80px;
}
.fast-service .fast-icon6 i{
    background-position: -26px -99px;
    left: 82px;
    top: 80px;
}
.fast-service .fast-icon7 i{
    background-position: -26px -99px;
    left: 145px;
    top: 80px;
}
.fast-service .fast-icon8 i{
    background-position: -26px -99px;
    left: 206px;
    top: 80px;
}
.fast-service .fast-icon9 i{
    background-position: -26px -99px;
    left: 18px;
    top: 148px;
}
.fast-service .fast-icon10 i{
    background-position: -26px -99px;
    left: 82px;
    top: 148px;
}
.fast-service .fast-icon11 i{
    background-position: -26px -99px;
    left: 145px;
    top: 148px;
}
.fast-service .fast-icon12 i{
    background-position: -26px -99px;
    left: 206px;
    top: 148px;
}
.focus-ad {
    padding-top: 13px;
}
/*产品推广开始*/
.good-pro .good-important{
    float: left;
    width: 210px;
}
.good-pro .good-important a{
    display: block;
    height: 155px;
    background: url(images/watch.png) no-repeat;
}
.good-pro .good-all{
    float: right;
    width:1000px;
    overflow: hidden;
}
.good-pro .good-all ul{
    width:500%;
}
.good-pro .good-all li{
    float: left;
    margin-right:1px ;
}
/*右侧快捷操作*/
.toolbar{
    position: fixed;
    bottom: 160px;
    right: 0;
}
.toolbar .topbtn {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    /*border-radius: 0 3px 3px 0;*/
    background-color: #7A6E6E;
    /*background-color: #C81623;*/
    cursor: pointer;
    position: relative;
}
.toolbar .topbtn .top-ico{
    display: block;
    width:16px;
    height: 10px;
    background: url(images/spirittoolbars.png) no-repeat -57px -262px;
    position: relative;
    top: 10px;
    left: 9px;
    z-index:10;
}
.toolbar .topbtn .top-text{
    display: block;
    width: 35px;
    height: 35px;
    line-height:35px;
    text-align: center;
    color: #7A6E6E;
    font-size:12px;
    background-color: #7A6E6E;
    position: absolute;
    border-radius: 4px;
    top:0;
    left: 0;
    z-index:5;
}






















